<%= provide :title, t("views.admin.subjects.edit")  %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1><%= t "views.admin.subjects.edit" %></h1>
      <%= render "form" %>
  </div>
</div>
