<% provide :title, t("controllers.admin.subjects_controller.title") %>
<% provide :button_text, t("controllers.admin.subjects_controller.new_button") %>
<div>
  <div class="col-md-6">
    <h2><%= t "controllers.admin.subjects_controller.new_title" %></h2>
    <%= render "form" %>
  </div>
</div>
