<center><h1><%= t "views.layouts.header.my_activities" %></h1></center>
<div class="row">
  <table class="table table-striped table-hover table-bodered" >
      <tbody>
        <% @activities.each do |activity| %>
          <tr>
            <td><%= render "shared/activity", activity: activity %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% paginate @activities %>
</div>
