#answer_field{
  margin-top: 10px;
}

.field{
  margin-top: 20px;
  margin-bottom: 20px;
}

#question .space-top-remove {
    margin-top: 5px;
}

.choice_question{
  margin-top: 10px;
  margin-bottom: 10px;
}
