/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require social-share-button
 */
@import "bootstrap";
@import "bootstrap-sprockets";
@import "social-share-button";

.footer {
  width: 100%;
  text-align: center;
  font-weight: bold;
  border-top: 1px solid #E1E1E1;
  padding-top: 10px;
  height: 25px;
}

.container {
    min-height: 500px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: green;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar-default .navbar-nav > li > a {
    color: #090909 !important;
}

.navbar-default {
    background-color: #78909c;
    border-color: #e7e7e7;
}

.new_subject_button {
  margin-bottom: 1em;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.user-search {
  margin-bottom: 1em;
}

.subject-search {
  margin-bottom: 1em;
}

.question-search {
  margin-bottom: 1em;
}

.exam-search{
  margin-bottom: 1em;
}

.questions{
  margin-top: 20px;
}

.timer {
  border: 1px solid #E6E6E6;
  background-color: #FFFFCC;
  float: right;
  position: fixed;
  right: 70px;
  top: 70px;
}
.radio {
  padding-left: 20px;
  font-weight: normal;
}
.btn-submit {
  border-radius: 0px;
  margin: 10px;
  width: 20%;
  display: inline-block;
}

$size: 30px;

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}

.activity{
  align-content: left;
}

.pull-left{
  float: left !important;
}

.pull-right{
  float: right !important;
}

.button-action{
  margin-top: 10px;
}

.add_fields{
  margin-right: 150px;
}

.update{
  margin-left: -60px;
}

.back{
  margin-left: 15px;
}

.add_ques{
  margin-bottom: 20px;
}

.add_subject{
  width: 100%;
}

.create_subject{
  margin-top: 20px;
}

.new_acc{
  margin-top: 10px;
}

.new_user{
  box-shadow: 5px 5px  5px 5px grey;
  margin: 2%;
  padding:2% ;
}
